<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>NancyDemo</title>

	<style type="text/css">

		body {
			text-align: center;
		}

	</style>

</head>
<body>

	<img src="~/Content/logo.png" alt="Walz logo" /><br />

	Dev Sandbox for Git learning
</body>
</html>
